In [7]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
df = pd.read_csv('titanic.csv')
cols = ['Survived', 'Pclass', 'Sex', 'Age']
df = df[cols]

df['Sex'] = df['Sex'].apply(lambda x: 1 if "female" else 0)
X = df[['Pclass', 'Sex', 'Age']]
y = df.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
rf.score(X_test, y_test)

0.7039106145251397

In [8]:
with open("model.pkl", "wb") as archivo:
    pickle.dump(rf, archivo) # dump para archivo y escribir

In [9]:
with open("model.pkl", "rb") as archivo:
    modelo = pickle.load(archivo) # load para leer el archivo

In [10]:
modelo.score(X_test, y_test)

0.7039106145251397

In [11]:
age = 20
sex = 1
clase = 3

survived = "Sobrevivio" if modelo.predict([[age, sex, clase]])[0] else "Palmo"

respuesta = f"""Para la persona con {age} años, sexo {sex} y clase {clase}, la prediccion es {survived}"""
print(respuesta)

Para la persona con 20 años, sexo 1 y clase 3, la prediccion es Sobrevivio

c:\Users\carlo\miniconda3\envs\test\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [12]:
from sqlalchemy import create_engine
churro = 'postgresql://mypostgres_njxk_user:66fLtLNl757NYqK3rlPTTU2svjffZjmL@dpg-d4k3b563jp1c738ieiag-a.ohio-postgres.render.com/mypostgres_njxk'
engine = create_engine(churro)

In [13]:
import pandas as pd
df = pd.DataFrame({"a": [1, 2, 3]})
df.to_sql("prueba", con=engine, if_exists="replace", index=None)

3

In [14]:
pd.read_sql("SELECT * from prueba", con = engine)

   a
0  1
1  2
2  3

In [15]:
df = pd.DataFrame({"sex": [sex], "age":[age], "class": [clase], "prediction":[survived]})
df.to_sql("predictions", con=engine, if_exists="append", index=None)

1

In [19]:
pd.read_sql("SELECT * FROM predictions", con=engine)

   sex  age  class  prediction
0    1   20      3  Sobrevivio
1    0   20      2       Palmo
2    0   30      3  Sobrevivio
3    1   23      3  Sobrevivio